.container{
    margin: 0 auto;
    width: 1180px;
}

.row{
    display: table;
    clear: both;
    width: 100%;
}

ul,ol{
    list-style: none;
}

a,a:hover,a:link,a:active,a:visited{
    text-decoration: none;
    display: inline-block;
}

.text-center{
    text-align: center;
}

.col-offset-2{
    margin-left: calc(100%*2/12);
}

div[class^="cols-"]{
    float: left;
    padding: 0 15px;
}


.cols-4{
    width: calc(100%*4/12);
}

.cols-6{
    width: calc(100%*6 /12);
}

.cols-7{
    width: calc(100%*7/12);
}

.cols-8{
    width: calc(100%*8/12);
}

.cols-12{
    width: 100%;
}
